@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
:root {
      --color-background: #0000B1;
      --color-heading: #FFD900;      
      --color-body: #FFD900;    
      --color-accent: #080883;       
      --color-tertiary: #8388FD;
      --color-highlight: #FF007B;    

  
      --gray-50: #F9FAFB;
      --gray-100: #F3F4F6;
      --gray-200: #E5E7EB;
      --gray-300: #D1D5DB;
      --gray-400: #9CA3AF;
      --gray-500: #6B7280;
      --gray-600: #4B5563;
      --gray-700: #374151;
      --gray-800: #1F2937;
      --gray-900: #111827;
      
   
      --font-heading: "Press Start 2P", system-ui;
      --font-body: "Hanken Grotesk", sans-serif;
      
      --breakpoint-sm: 640px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 1024px;
    }
    
      body {
      font-family: var(--font-body);
      font-weight: 400;
      line-height: 1.6;
      color: var(--color-body);
      background-color: var(--color-background);
    }
      p {
      font-family: var(--font-body);
      font-weight: 400;
      line-height: 1.6;
      color: var(--color-body);
      background-color: var(--color-background);
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-heading);
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-heading);
      margin-bottom: 1rem;
    }

  main.home-grid {
  display:grid;
  grid-template-columns: repeat(5 1fr);
  width:90vw;
}

  main {
  padding: 2rem;
  margin: 0 auto;
  max-width: 60vw;
}

    main.medium-style {
      display: block;
      max-width: 850px;
      padding: 3rem 2rem;
    }
    
body:has(main.medium-style) {
  background-color: var(--color-background);
  line-height: 1.6;
  color: var(--color-body);
}

main.medium-style p {
  line-height: 1.6;
  color: var(--color-body);
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

main.medium-style h1 {
  font-size: 2.75rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

main.medium-style h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

main.medium-style img {
  margin: 2rem 0;
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-body)
}


a {
  color: var(--color-heading);
  text-decoration:none;
}

a:hover {
  color: var(--color-highlight)
}

main {
 width: 80vw;
 margin: 0 auto;
 padding: 1rem 2rem 1rem 3rem;
}

img {
  width: auto;
  height: auto;
}

.character-grid {
  grid-column-start: 5;
  grid-column-end: 6;
  min-height: 670px;
  max-width: 228px;
  border: 2px solid var(--color-body);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.box{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid var(--color-body);
  height: 130px;
  width: 110px;
  background-color: var(--color-accent);
  font-size: 15pt;
}


.carousel {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.item img {
  width: 100px;
  height: 100px;
}

main#carousel {
  grid-row: 1/2;
  grid-column: 1/8;
  width: 100vw;
  height: 300px;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 400px; 
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
    padding: 20px;
    background-color: var(--color-background);
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: var(--color-highlight);
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}
div.item:nth-of-type(4) {
    --offset: 4;
}
div.item:nth-of-type(5) {
    --offset: 5;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}