@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
:root {
      --color-background: #0000B1;
      --color-heading: #FFD900;      
      --color-body: #FFD900;    
      --color-accent: #080883;       
      --color-tertiary: #8388FD;
      --color-highlight: #FF007B;    

  
      --gray-50: #F9FAFB;
      --gray-100: #F3F4F6;
      --gray-200: #E5E7EB;
      --gray-300: #D1D5DB;
      --gray-400: #9CA3AF;
      --gray-500: #6B7280;
      --gray-600: #4B5563;
      --gray-700: #374151;
      --gray-800: #1F2937;
      --gray-900: #111827;
      
   
      --font-heading: "Press Start 2P", system-ui;
      --font-body: "Hanken Grotesk", sans-serif;
      
      --breakpoint-sm: 640px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 1024px;
    }
    
      body {
      font-family: var(--font-body);
      font-weight: 400;
      line-height: 1.6;
      color: var(--color-body);
      background-color: var(--color-background);
    }
      p {
      font-family: var(--font-body);
      font-weight: 400;
      line-height: 1.6;
      color: var(--color-body);
      background-color: var(--color-background);
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-heading);
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-heading);
      margin-bottom: 1rem;
    }

  main.home-grid {
  display:grid;
  grid-template-columns: repeat(5 1fr);
  width:90vw;
}

  main {
  padding: 2rem;
  margin: 0 auto;
  max-width: 60vw;
}

    main.medium-style {
      display: block;
      max-width: 1000px;
      padding: 3rem 2rem;
      margin-left: 250px;
    }
    
body:has(main.medium-style) {
  background-color: var(--color-background);
  line-height: 1.6;
  color: var(--color-body);
}

main.medium-style p {
  line-height: 1.6;
  color: var(--color-body);
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

main.medium-style h1 {
  font-size: 2.75rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

main.medium-style h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

main.medium-style img {
  margin: 2rem 0;
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-body);
}


a {
  color: var(--color-heading);
  text-decoration:none;
}

a:hover {
  color: var(--color-highlight)
}

main {
 width: 80vw;
 margin: 0 auto;
 padding: 1rem 2rem 1rem 3rem;
}

img {
  width: auto;
  height: auto;
}
.carousel {
  width: 500px;
  height: 300px;
}





.character-grid {
  grid-column-start: 5;
  grid-column-end: 6;
  min-height: 670px;
  max-width: 228px;
  border: 2px solid var(--color-body);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.box{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid var(--color-body);
  height: 130px;
  width: 110px;
  background-color: var(--color-accent);
  font-size: 15pt;
}




  .parent {
    display: grid;
    grid-template-columns: 9fr 1fr;
    background-color: var(--color-accent);
    border: solid;
    width: auto;
    height: 5000px;
    gap: 10px;
  }


  .child-content{
    display: flex;
    background-color: orangered;
    border: solid;
  }

  .child-sidebar{
    display: flex;
    background-color: red;
    border: solid;
  }

.sticky-sidebar {
  position: sticky;
}


.sticky-header {
  display: grid;
  position: sticky;
  top: 0; 
  background-color: var(--color-highlight);
  width: auto;
  margin: 0;
}







body{
  margin: 0;
  background: var(--color-background);
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;

}

.slider{width: 100%;}
.slider input{display: none;}

.testimonials{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}

.testimonials .item{
  width: 300px;
  padding: 30px;
  background-color: #F3F4F6;
  position: absolute;
  border: 3px solid white;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  user-select: none;
  cursor: pointer;

}

.testimonials .item h1{font-size:114px; color:#E5E7EB;}
.dots{display: flex; justify-content: center; align-items: center;}
.dots label{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #8388FD;
  margin: 7px;
  transition-duration: 0.2s;

}

#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"]{
  transform: scale(2);
  background-color: #8388FD;
  box-shadow: 0px 0px 0px 3px #E5E7EB;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"]{
  transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"]{
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"]{
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}